[submodule "tau_doc"]
	path = tau_doc
	url = https://github.com/larpoux/tau_doc
[submodule "tau_wars"]
	path = tau_wars
	url = git@github.com:canardoux/tau_wars.git
[submodule "taudio"]
	path = taudio
	url = git@github.com:Canardoux/taudio.git
[submodule "lab_sound_bridge"]
	path = lab_sound_bridge
	url = git@github.com:canardoux/lab_sound_bridge.git
[submodule "lab_sound_flutter"]
	path = lab_sound_flutter
	url = git@github.com:Canardoux/lab_sound_flutter.git
[submodule "tau_web"]
	path = tau_web
	url = https://github.com/Canardoux/tau_web
[submodule "tau_labs"]
	path = tau_labs
	url = git@github.com:canardoux/tau_labs.git
[submodule "etau"]
	path = etau
	url = https://github.com/canardoux/etau
