[submodule "tau_doc"]
	path = tau_doc
	url = git@github.com:Larpoux/tau_doc.git
[submodule "tau_wars"]
	path = tau_wars
	url = git@github.com:canardoux/tau_wars.git
[submodule "taudio"]
	path = taudio
	url = git@github.com:Canardoux/taudio.git
[submodule "lab_sound_bridge"]
	path = lab_sound_bridge
	url = git@github.com:canardoux/lab_sound_bridge.git
[submodule "tau_web"]
	path = tau_web
	url = https://github.com/Canardoux/tau_web
[submodule "tau_labs"]
	path = tau_labs
	url = https://github.com/Canardoux/tau_labs
[submodule "etau"]
	path = etau
	url = https://github.com/canardoux/etau
[submodule "tau_chrome"]
	path = tau_chrome
	url = git@github.com:Canardoux/tau_chrome.git
