[submodule "tauwar"]
	path = tauwar
	url = git@github.com:canardoux/tauwar.git
[submodule "tauweb"]
	path = tauweb
	url = git@github.com:canardoux/tauweb.git
[submodule "etau"]
	path = etau
	url = https://github.com/canardoux/etau
[submodule "taudio"]
	path = taudio
	url = git@github.com:Canardoux/taudio.git
[submodule "flutter_sound"]
	path = flutter_sound
	url = git@github.com:Canardoux/flutter_sound.git
[submodule "flutter_sound_core"]
	path = flutter_sound_core
	url = git@github.com:Canardoux/flutter_sound_core.git
[submodule "flutter_sound_web"]
	path = flutter_sound_web
	url = git@github.com:Canardoux/flutter_sound_web.git
[submodule "flutter_sound_platform_interface"]
	path = flutter_sound_platform_interface
	url = git@github.com:Canardoux/flutter_sound_platform_interface.git
[submodule "etau-doc"]
	path = etau-doc
	url = git@github.com:Canardoux/etau-doc.git
[submodule "tauwar-doc"]
	path = tauwar-doc
	url = git@github.com:Canardoux/tauwar-doc.git
[submodule "tauweb-doc"]
	path = tauweb-doc
	url = git@github.com:Canardoux/tauweb-doc.git
[submodule "fs-doc"]
	path = fs-doc
	url = git@github.com:Larpoux/fs-doc.git
[submodule "etau-doc"]
	path = etau-doc
	url = git@github.com:Larpoux/etau-doc.git
